:root {
    --unit-size: 2em;
    --normal-width: 1;
    --normal-height: 2;
    --chubby-width: 2;
    --chubby-height: 2;
    --long-width: 2;
    --long-height: 6;
    --wide-width: 4;
    --wide-height: 6;
    --very-long-width: 2;
    --very-long-height: 8;
    cursor: move;
    z-index: 10;
}

.duck.normal {
    width: calc( (var(--unit-size) + 2px) * var(--normal-width) - 2px);
    height: calc( (var(--unit-size) + 2px) * var(--normal-height) - 2px);
}  

.duck.chubby {
    width: calc( (var(--unit-size) + 2px) * var(--chubby-width) - 2px);
    height: calc( (var(--unit-size) + 2px) * var(--chubby-height) - 2px);
}

.duck.long {
    width: calc( (var(--unit-size) + 2px) * var(--long-width) - 2px);
    height: calc( (var(--unit-size) + 2px) * var(--long-height) - 2px);
}

.duck.wide {
    width: calc( (var(--unit-size) + 2px) * var(--wide-width) - 2px);
    height: calc( (var(--unit-size) + 2px) * var(--wide-height) - 2px);
}

.duck.very-long {
    width: calc( (var(--unit-size) + 2px) * var(--very-long-width) - 2px);
    height: calc( (var(--unit-size) + 2px) * var(--very-long-height) - 2px);
}

.cell.duck-shadow {
    background-color: rgba(124, 235, 168, 0.785);
}

.cell.duck-placed {
    background-color: rgba(118, 214, 233, 0.785);
}

.battleship-grid {
  display: grid;
  grid-template-columns: repeat(15, 2em); /* Creates 15 columns */
  grid-template-rows: repeat(15, 2em); /* Creates 15 rows */
  gap: 2px; /* Space between cells */
}

.cell {
  width: 2em; /* Cell width */
  height: 2em; /* Cell height */
  background-color: #f0f0f0; /* Cell default background */
  border: 1px solid #ddd; /* Cell border */
  justify-content: center;
  align-items: center;
  position: relative;
}