.add-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.delete-form {
    display: inline;
}

.details {
    font-size: large;
    font-style: italic;
}

.battleship-grid {
  display: grid;
  grid-template-columns: repeat(15, 2em); /* Creates 15 columns */
  grid-template-rows: repeat(15, 2em); /* Creates 15 rows */
  gap: 2px; /* Space between cells */
}

.cell {
  width: 2em; /* Cell width */
  height: 2em; /* Cell height */
  background-color: #f0f0f0; /* Cell default background */
  border: 1px solid #ddd; /* Cell border */
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.shot {
  background-color: red; /* Background color when clicked */
}

.cell.placed {
  background-color: green; /* Background color when clicked */
}



.game-board {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
}