:root {
  --unit-size: 2em;

  --dark-blue: hsla(187, 40%, 70%, 1);
  --dark-red: hsla(7, 40%, 70%, 1);

  --yellow: hsla(48, 96%, 53%, 1);
}

.battleship-grid {
  display: grid;
  grid-template-columns: repeat(15, var(--unit-size)); /* Creates 15 columns */
  grid-template-rows: repeat(15, var(--unit-size)); /* Creates 15 rows */
  gap: 0px; /* Space between cells */
  width: fit-content;
}

#ducks-tray {
  width: calc(var(--unit-size) * 18);
  float: left;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.duck-container {
  position: relative;
  display: inline-block;
}

.duck {
  -webkit-filter: drop-shadow(.5rem .5rem 1rem hsl(0 0% 50% / .5));
  filter: drop-shadow(.5rem .5rem 1rem hsl(0 0% 50% / .5));
}

.rotate-icon {
  width: calc(var(--unit-size) / 2);
  height: calc(var(--unit-size) / 2);
  position: absolute;
  top: 0px;
  left: 0px;
}

.cell {
  width: 2em; /* Cell width */
  height: 2em; /* Cell height */
  border: 1px solid var(--yellow);
  border-radius: 0.5rem;
  margin: 0px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.blue-shadow {
  background-color: var(--dark-blue);
}

.cell.red-shadow {
  background-color: var(--dark-red);
}

.cell.shot {
  background-color: red; /* Background color when clicked */
}

.cell.placed {
  background-color: green; /* Background color when clicked */
}

.add-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.delete-form {
  display: inline;
}

.details {
  font-size: large;
  font-style: italic;
}